doctype html
html(dir=isRtl ? 'rtl' : 'ltr' )
	head
		title=title
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		link(rel="stylesheet", href="https://s0.wp.com/wp-content/themes/a8c/getdotblog/public/styles/reset.css")
		if css
			style(type='text/css').
				#{css}
		if styles
			link(rel="stylesheet", href=styles)
	body
		#content!= content
		if isEnabled( 'sentry' )
			script(src="https://cdn.ravenjs.com/3.7.0/raven.min.js")
		if localeData
			script(type='text/javascript')!='var localeData = ' + JSON.stringify( localeData ) + ';'
		script(src=vendor)
		script(src=bundle)
