doctype html
html(dir=isRtl ? 'rtl' : 'ltr' )
	head
		title=title
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		meta(name="twitter:card" content="summary")
		meta(name="twitter:creator" content="@wordpressdotcom")
		meta(property="og:url" content="http://get.blog")
		meta(property="og:type" content="website")
		meta(property="og:title" content="Every .blog is a story. Tell yours.")
		meta(property="og:description" content="Millions of short, easy to remember domains will be available when the .blog domain goes live November 21. Apply now to secure the perfect domain for your blog.")
		meta(property="og:image" content="https://s0.wordpress.com/i/delphin/tell-your-story.svg")
		link(rel="stylesheet", href=resetCss)
		if css
			style(type='text/css').
				#{css}
		if styles
			link(rel="stylesheet", href=styles)
	body
		#content!= content
		#wpcom-log-in
		if isEnabled( 'sentry' )
			script(src="https://cdn.ravenjs.com/3.7.0/raven.min.js")
		if localeData
			script(type='text/javascript')!='var localeData = ' + JSON.stringify( localeData ) + ';'
		script(src=vendor)
		script(src=bundle)
