doctype html
html
	head
		if localeData
			script(type='text/javascript')!='var localeData = ' + JSON.stringify( localeData ) + ';'
		title=title
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		link(rel="stylesheet", href="/styles/reset.css")
		style(type='text/css').
			#{css}

	body
		#content!= content
		if isEnabled( 'sentry_enabled' )
			script(src="https://cdn.ravenjs.com/3.6.1/raven.min.js")
		script(src=bundle)